.card{
    width: 20%;
    min-width: 200px;
    margin: 2%;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
}
.picHold{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UserPic{
    width: 100%;
}