*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.cont{
    width: 100vw;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: 1fr 1.5fr 1.5fr;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 11%;

}

.heading-1{
    background-color: rgb(49, 50, 44);
    grid-column: 1/1;
    grid-row: 1/1;
}

.heading-2{
    background-color: rgb(57, 160, 237);
    grid-column: 2/2;
    grid-row: 1/1;
    align-items: center;
}

.heading-3{
    background-color: rgb(21, 196, 163);
    grid-column: 3/3;
    grid-row: 1/1;
    align-items: center;
}

.heading-4{
    background-color: rgb(49, 50, 44);
    grid-column: 4/4;
    grid-row: 1/1;
    align-items: center;
}

.heading-5{
    background-color: rgb(76, 96, 133);
    grid-column: 1/1;
    grid-row: 2/4;
}

.heading-6{
    background-color: rgb(49, 50, 44);
    grid-column: 2/4;
    grid-row: 2/2;
}
.heading-7{
    background-color: rgb(76, 96, 133);
    grid-column: 4/5;
    grid-row: 2/4;
}

.heading-8{
    background-color: rgb(57, 160, 237);
    grid-column: 2/2;
    grid-row: 3/3;
}

.heading-9{
    background-color: rgb(21, 196, 163);
    grid-column: 3/3;
    grid-row: 3/3;
}