#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  color: rgb(19, 19, 19);
  width: 100vw;
}


@media screen and (max-width: 768px){
  body{
    font-size: 0.8rem;
  }
  .NavLinks{
    display: none;
  }
  .Socials{
    width: 50%;
  }
}
@media screen and (max-width: 480px){
  body{
    font-size: 0.6rem;
  }
  
}
@media screen and (max-width: 320px){
  body{
    font-size: 0.5rem;
  }
  .Socials{
    display: none;
  }
}
@media screen and (min-width: 1019px){
  
}