* {
    margin: 0px;
    padding: 0px;
}

.body {
    background-color: rgb(16, 19, 22);
}

.header,
.footer {
    background-color: #383838;
    width: 100vw;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.emp-prof{
    display: flex;
    border-radius: 7px;
    width: 320px;
    height: 380px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 24px 0px #0000009a;
}

.emp-prof img{
    width: 32%;
    border-radius: 50%;
}