body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.container-fluid *{
    margin: 3px;
}

.row{
    height: 10%;
}

.row div{
    background-color: rgb(227, 242, 255);
    text-align: center;
    border: 0.25px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large !important;
}