*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: red;
    font-family: "Source Sans 3";
    height: 100;
}
.cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 7% 53% 40%;
    width: 100vw;
    height: 100vh;
}
header{
    grid-column: 1/4;
    grid-row: 1/1;
    background-color: rgb(255, 255, 255);
    color: rgb(202, 12, 12);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 7%;
}

section{
    grid-column: 1/4;
    grid-row: 2/2;
    background-color: rgb(231, 0, 0);
    display: grid;
    grid-template-columns: 70vw 30vw;
}
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 0px 24% 0px 10%;
}

main h2, p{
    color: white;
}
img {
    align-self: center;
    width:150px;
}
footer{
    display: grid;
    grid-column: 1/4;
    grid-row: 3/3;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(231, 0, 0);
    height: auto;
}
.art-1, .art-2, .art-3{
    background-color: #521010a9;
    margin-right: 7px;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 30% 70%;
    padding: 4% 14% 0px 14%;
}
article p{
    color: rgb(226, 226, 226);

}
.art-1{
    grid-column: 1/1;
}
h4{
    align-self: center;
}
.art-2{
    grid-column: 2/2;
}
.art-3{
    grid-column: 3/3;
    margin-right: 0px;
}

@media screen and (max-width: 900px) {
    html{
        font-size: 12px ;
    }
}
@media screen and (max-width: 545px) {
    html{
        font-size: 10px ;
        height: auto;
    }
    body{
        height: auto;
    }
    .cont{

        grid-template-rows: 7% 53% auto;
    }
    img{
        width: 80%;
    }
    footer{
        grid-template-rows: repeat(3,150px);
        grid-template-columns:auto;
    }
    .art-1{
        grid-row: 1/1;
        grid-column: 1/1;
    }
    .art-2{
        grid-row: 2/2;
        grid-column: 1/1;
    }
    .art-3{
        grid-row: 3/3;
        grid-column: 1/1;
    }
    .art-1, .art-2, .art-3{
        padding: 0% 14% 0px 14%;
        margin: 0px;
    }
}