@font-face {
    font-family: 'Lausanne';
    src: url('Lausanne.eot');
    src: local('Lausanne'),
        url('Lausanne.eot?#iefix') format('embedded-opentype'),
        url('Lausanne.woff2') format('woff2'),
        url('Lausanne.woff') format('woff'),
        url('Lausanne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

