*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans 3';
    background-color:red;
    margin:0;
    color:white;
}
.cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10vh 48vh 42vh;
    width: 100vw;
    height: 100vh;
}
header{
    grid-column: 1/4;
    grid-row: 1/1;
}
section{
    grid-column: 1/4;
    grid-row: 2/2;
}
img { 
    width:150px;
}
main{
    display: grid;
    grid-column: 1/4;
    grid-row: 3/3;
    grid-template-columns: repeat(3,1fr);
}
.art-1{
    grid-column: 1/1;
}
.art-2{
    grid-column: 2/2;
}
.art-3{
    grid-column: 3/3;
}