* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.par{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    padding: 20px;
}
.cont{
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}
.cont .child{
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.507);
}
.cont .child figure{
    width: 100%;
    height: 60%;
}
.cont .child figure img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
h1{
    font-size: 1.7rem;
    margin: 0px 8px;
}
p{
    margin: 0px 8px;
}

button{
    width: 90%;
    margin-bottom: 12px;
    height: 5%;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 113, 113);
    border-radius: 3px;
    font-size: 1rem;
    border: none;
}

button:hover{
   cursor: pointer;
}

footer{
    text-align: center;
    margin: 2vh 0px;
}

a{
    font-size: 1.2rem;
    color: rgb(37, 37, 37);
}

@media screen and (max-width:420px) {
    .par{
        width: 100%;
        height: 100vh;
        display: block;
    }
    .cont {
        flex-direction: column;
        align-items: center;
    }
    .cont .child{
        width: 90%;
        gap:5%;
    }
}

