header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #333;
    color: white;
}
.logohold{
    display: flex;
    align-items: center;
    justify-content: center;
}
figcaption{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}
.logo{
    width: 64px;
    border-radius: 50%;
}
nav{
    display: flex;
    align-items: center;
    width: 20%;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 10px 0;
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}